/* 8 bit font for website */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');


/* the background for the game */
#background {
    background-image: url('/spaceinvaderproject/assets/background.png');
    height: 800px;
    width: 1200px;
    
}
/* the player character spaceship */
#hero {
    background-image: url('/spaceinvaderproject/assets/hero.png');
    height: 50px;
    width: 50px;
    position: absolute;
    top: 700px;
    left: 550px;
}
.enemy {
    background-image: url('/spaceinvaderproject/assets/enemy.png');
    height: 50px;
    width: 50px;
    position: absolute;
    top: 100px;
    left: 550px;
}
h1 {
    font-family: 'Press Start 2P', cursive;
}